<h1>URL Info</h1>
<p>Original URL: <%= @url.original_url %></p>
<p>Short URL: <%= short_url(@url.token) %></p>
<p>Visits Count: <%= @visits_count %></p>
<p>Unique Visitors: <%= @visitors.join(', ') %></p>
